{
    "addr": ":1443",
    "target": "tcp 127.0.0.1:8080",
    "resolvers": ["127.0.0.2:10001", "127.0.0.2:10002"],
    "pubKeyServer": ["127.0.0.1:2422"],

    "cert": "./client-cert/cert.pem",
    "Key": "./client-cert/key.pem",
    "CA": "./client-cert/cacert.pem",
    
    "sessionTicketKey": "When you forgive, you love. And When you love, god's light shines on you",

    "hosts":{
    "test.xxx.com":{
        "priKeyServer": "127.0.0.1:2412",
        "keyServerCA": "./client/cacert.pem"
        }
    }
}
