{
    "key_addr": ":2412",
    "cert_addr": ":2422",    
   	"cert_dir":"./certs",
    "cert":"server-cert/cert.pem",
    "key":"server-cert/key.pem",
    "ca":"server-cert/cacert.pem",

    "whiteip": "127.0.0.1 127.0.0.2",
    
    "hosts":{
    "test.xxx.com":"./certs/cert.pem"
    }
}
